#### 1. Part of Speech Tagging

**a. Extracting Part of Speech Tags**

Pick an article in the Wikipedia featured articles corpus. Extract the part of speech tags for the first five sentences in the article using NLTK’s pos_tag function. You may need to download the POS tagger data using the following code.

In [29]:
import nltk
#'averaged_perception_tagger' module from nltk is installed from python console
#nltk.download('averaged_perception_tagger')

import pandas as pd
import json
import string
import re
import numpy as np

from nltk.corpus import stopwords
from nltk import FreqDist
from nltk.util import ngrams
from nltk import word_tokenize
from nltk import sent_tokenize
from nltk.tokenize import RegexpTokenizer
from collections import Counter

# Create stop words
stop_words = stopwords.words('english')

In [2]:
def readfiles(dirdata, infile):
    """Read the json file(s) as data frame"""
    data = []

    full_filename = "%s/%s" % (dirdata, infile)
        
    with open(full_filename,'r') as fi:
        for line in fi:
            data.append(json.loads(line))

    # Create data frame from the json data
    outdf = pd.DataFrame(data)
    
    return outdf

In [3]:
def cleanString(incomingString):
    """Removes custom characters from a string"""
    newstring = incomingString
    newstring = newstring.replace("!","")
    newstring = newstring.replace("@","")
    newstring = newstring.replace("#","")
    newstring = newstring.replace("$","")
    newstring = newstring.replace("%","")
    newstring = newstring.replace("^","")
    newstring = newstring.replace("&","and")
    newstring = newstring.replace("*","")
    newstring = newstring.replace("(","")
    newstring = newstring.replace(")","")
    newstring = newstring.replace("+","")
    newstring = newstring.replace("=","")
    newstring = newstring.replace("?","")
    newstring = newstring.replace("\'","")
    newstring = newstring.replace("\"","")
    newstring = newstring.replace("{","")
    newstring = newstring.replace("}","")
    newstring = newstring.replace("[","")
    newstring = newstring.replace("]","")
    newstring = newstring.replace("<","")
    newstring = newstring.replace(">","")
    newstring = newstring.replace("~","")
    newstring = newstring.replace("`","")
    newstring = newstring.replace(":","")
    newstring = newstring.replace(";","")
    newstring = newstring.replace("|","")
    newstring = newstring.replace("\\","")
    newstring = newstring.replace("/","") 
    
    return newstring

In [4]:
# Define files and location
dirdata = 'data/wikipedia/featured-articles'

# Using 1 file for this excercise, but have provision fror loading multiple
files = ['featured-articles_010.jsonl']

# Read files, clean and store as data frame
article = readfiles(dirdata, files[0])

# Check data
article.head()

,interlinks,section_texts,section_titles,title
0,"{'Christchurch': 'Christchurch', 'Canterbury, ...",[\n\n\nBenjamin Mountfort around 1875\n\n'''Be...,"[Introduction, Early life, New Zealand, Return...",Benjamin Mountfort
1,"{'abstract art': 'abstract', 'the Blitz': 'the...",[\n\n\n\n\n'''Henry Spencer Moore''' (30 July...,"[Introduction, Life, Style, Legacy, Collection...",Henry Moore
2,"{'shrub': 'shrub', 'Banksia': 'Banksia', 'Prot...",[\n\n\nThe '''hairpin banksia''' (''Banksia sp...,"[Introduction, Description, Taxonomy, Distribu...",Banksia spinulosa
3,"{'shrub': 'shrub', 'Proteaceae': 'Proteaceae',...","[\n\n\n\n\n\n'''''Banksia aemula''''', commonl...","[Introduction, Description, Taxonomy, Distribu...",Banksia aemula
4,"{'Noongar': 'Noongar', 'species': 'species', '...","[\n\n\n\n'''''Banksia attenuata''''', commonly...","[Introduction, Description, Taxonomy, Distribu...",Banksia attenuata

In [5]:
# Select article text from the first article and covert to list
txt = article.loc[0,'section_texts']
txt1 = txt[0]
txt1

"\n\n\nBenjamin Mountfort around 1875\n\n'''Benjamin Woolfield Mountfort''' (13 March 1825 – 15 March 1898) was an English emigrant to New Zealand, where he became one of that country's most prominent 19th-century architects. He was instrumental in shaping the city of Christchurch's unique architectural identity and culture, and was appointed the first official Provincial Architect of the developing province of Canterbury. Heavily influenced by the Anglo-Catholic philosophy behind early Victorian architecture, he is credited with importing the Gothic revival style to New Zealand. His Gothic designs constructed in both wood and stone in the province are considered unique to New Zealand. Today, he is considered the founding architect of the province of Canterbury.\n"

In [6]:
# Check if the text has 5 or more articles or not
len(txt1.split('.'))

6

In [7]:
# Extract the first six sentences
sent = txt1.split('.')[0:5]
sent

["\n\n\nBenjamin Mountfort around 1875\n\n'''Benjamin Woolfield Mountfort''' (13 March 1825 – 15 March 1898) was an English emigrant to New Zealand, where he became one of that country's most prominent 19th-century architects",
 " He was instrumental in shaping the city of Christchurch's unique architectural identity and culture, and was appointed the first official Provincial Architect of the developing province of Canterbury",
 ' Heavily influenced by the Anglo-Catholic philosophy behind early Victorian architecture, he is credited with importing the Gothic revival style to New Zealand',
 ' His Gothic designs constructed in both wood and stone in the province are considered unique to New Zealand',
 ' Today, he is considered the founding architect of the province of Canterbury']

In [8]:
def pos(strs):
    """Tokenizing and finding parts of speech"""
    
    # Tokenize the input string
    tokenized = sent_tokenize(strs) 
    
    for i in tokenized: 
      
        # Word tokenizers is used to find the words  
        # and punctuation in a string 
        wordsList = nltk.word_tokenize(i) 

        # removing stop words from wordList 
        wordsList = [w for w in wordsList if not w in stop_words]  

        #  Using a Tagger. Which is part-of-speech  
        # tagger or POS-tagger.  
        tagged = nltk.pos_tag(wordsList) 
  
    # Print formatted outpout
    print(strs)
    print(' ')
    print(tagged) 
    print(' ')

In [9]:
# Remove punctuations and special chatracters from the sentence
lines = [cleanString(l.strip(',').rstrip()) for l in sent]

# Get parts of speech
for i in range(len(lines)):
    pos(lines[i])

Benjamin Mountfort around 1875

Benjamin Woolfield Mountfort 13 March 1825 – 15 March 1898 was an English emigrant to New Zealand, where he became one of that countrys most prominent 19th-century architects

[('Benjamin', 'NNP'), ('Mountfort', 'NNP'), ('around', 'IN'), ('1875', 'CD'), ('Benjamin', 'NNP'), ('Woolfield', 'NNP'), ('Mountfort', 'NNP'), ('13', 'CD'), ('March', 'NNP'), ('1825', 'CD'), ('–', 'NNP'), ('15', 'CD'), ('March', 'NNP'), ('1898', 'CD'), ('English', 'NNP'), ('emigrant', 'JJ'), ('New', 'NNP'), ('Zealand', 'NNP'), (',', ','), ('became', 'VBD'), ('one', 'CD'), ('countrys', 'NN'), ('prominent', 'JJ'), ('19th-century', 'JJ'), ('architects', 'NNS')]

 He was instrumental in shaping the city of Christchurchs unique architectural identity and culture, and was appointed the first official Provincial Architect of the developing province of Canterbury

[('He', 'PRP'), ('instrumental', 'JJ'), ('shaping', 'VBG'), ('city', 'NN'), ('Christchurchs', 'NNP'), ('unique', 'JJ'), ('architectural', 'JJ'), ('identity', 'NN'), ('culture', 'NN'), (',', ','), ('appointed', 'VBD'), ('first', 'RB'), ('official', 'JJ'), ('Provincial', 'NNP'), ('Architect', 'NNP'), ('developing', 'VBG'), ('province', 'NN'), ('Canterbury', 'NN')]

 Heavily influenced by the Anglo-Catholic philosophy behind early Victorian architecture, he is credited with importing the Gothic revival style to New Zealand

[('Heavily', 'RB'), ('influenced', 'VBN'), ('Anglo-Catholic', 'JJ'), ('philosophy', 'NN'), ('behind', 'IN'), ('early', 'JJ'), ('Victorian', 'JJ'), ('architecture', 'NN'), (',', ','), ('credited', 'VBD'), ('importing', 'VBG'), ('Gothic', 'NNP'), ('revival', 'NN'), ('style', 'NN'), ('New', 'NNP'), ('Zealand', 'NNP')]

 His Gothic designs constructed in both wood and stone in the province are considered unique to New Zealand

[('His', 'PRP$'), ('Gothic', 'NNP'), ('designs', 'NNS'), ('constructed', 'VBD'), ('wood', 'NN'), ('stone', 'NN'), ('province', 'NN'), ('considered', 'VBN'), ('unique', 'JJ'), ('New', 'NNP'), ('Zealand', 'NNP')]

 Today, he is considered the founding architect of the province of Canterbury

[('Today', 'NN'), (',', ','), ('considered', 'VBN'), ('founding', 'NN'), ('architect', 'NN'), ('province', 'NN'), ('Canterbury', 'NNP')]

**b. Selecting Nouns and Verbs**

Repeat the prior step, but only include the nouns and verbs. Below is a list of the noun and verb tags.

NN: noun, common, singular or mass<br>
NNP: noun, proper, singular<br>
NNPS: noun, proper, plural<br>
NNS: noun, common, plural<br>
VB: verb, base form<br>
VBD: verb, past tense<br>
VBG: verb, present participle or gerund<br>
VBN: verb, past participle<br>
VBP: verb, present tense, not 3rd person singular<br>
VBZ: verb, present tense, 3rd person singular

In [10]:
def posNV(strs, allowed_tags):
    """Tokenizing and finding parts of speech: for specific tags/POS"""    
    
    # Tokenize the input string
    tokenized = sent_tokenize(strs) 
    
    for i in tokenized:
        # Word tokenizers is used to find the words  
        # and punctuation in a string 
        wordsList = nltk.word_tokenize(i) 

        # removing stop words from wordList 
        wordsList = [w for w in wordsList if not w in stop_words]  

        #  Using a Tagger. Which is part-of-speech  
        # tagger or POS-tagger.  
        tagged = nltk.pos_tag(wordsList)         
        dt_tags = [t for t in tagged if t[1] in allowed_tags]
                
    # Print formatted outpout
    print(strs)
    print(' ')
    print(dt_tags)
    print(' ')

In [11]:
# Create a tuple of all the allowed tags (Noun and Verb)
allowed_tags = ('NN', 'NNP', 'NNPS', 'NNS', 'VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ')

# Get parts of speech filtered for Verb and Noun
for i in range(len(lines)):
    posNV(lines[i], allowed_tags)

Benjamin Mountfort around 1875

Benjamin Woolfield Mountfort 13 March 1825 – 15 March 1898 was an English emigrant to New Zealand, where he became one of that countrys most prominent 19th-century architects

[('Benjamin', 'NNP'), ('Mountfort', 'NNP'), ('Benjamin', 'NNP'), ('Woolfield', 'NNP'), ('Mountfort', 'NNP'), ('March', 'NNP'), ('–', 'NNP'), ('March', 'NNP'), ('English', 'NNP'), ('New', 'NNP'), ('Zealand', 'NNP'), ('became', 'VBD'), ('countrys', 'NN'), ('architects', 'NNS')]

 He was instrumental in shaping the city of Christchurchs unique architectural identity and culture, and was appointed the first official Provincial Architect of the developing province of Canterbury

[('shaping', 'VBG'), ('city', 'NN'), ('Christchurchs', 'NNP'), ('identity', 'NN'), ('culture', 'NN'), ('appointed', 'VBD'), ('Provincial', 'NNP'), ('Architect', 'NNP'), ('developing', 'VBG'), ('province', 'NN'), ('Canterbury', 'NN')]

 Heavily influenced by the Anglo-Catholic philosophy behind early Victorian architecture, he is credited with importing the Gothic revival style to New Zealand

[('influenced', 'VBN'), ('philosophy', 'NN'), ('architecture', 'NN'), ('credited', 'VBD'), ('importing', 'VBG'), ('Gothic', 'NNP'), ('revival', 'NN'), ('style', 'NN'), ('New', 'NNP'), ('Zealand', 'NNP')]

 His Gothic designs constructed in both wood and stone in the province are considered unique to New Zealand

[('Gothic', 'NNP'), ('designs', 'NNS'), ('constructed', 'VBD'), ('wood', 'NN'), ('stone', 'NN'), ('province', 'NN'), ('considered', 'VBN'), ('New', 'NNP'), ('Zealand', 'NNP')]

 Today, he is considered the founding architect of the province of Canterbury

[('Today', 'NN'), ('considered', 'VBN'), ('founding', 'NN'), ('architect', 'NN'), ('province', 'NN'), ('Canterbury', 'NNP')]

#### 2. N-Grams

**a. N-Gram Frequencies**

Using the Wikipedia featured article corpus, find and report the 20 most common bigrams and trigrams. You should include the total number of times the bigram/trigram occurred in the corpus as well as the logarithm of the probability of occurring within the corpus. In mathematical terms, if N is the total number of bigrams or trigrams in the corpus and a particular item occurred m times, then the log frequency is log(m/N). It is common practice to report in logarithmic probabilities when dealing with low probability values.

In [16]:
# Create a combined text from the entire corpus, to calculate n grams
corpus = article['section_texts']
alltxt = ''

for i in range(len(corpus)):    
    for j in range(len(corpus[i])):
        alltxt += corpus[i][j]

In [47]:
def preprocess(text):
    """Remove punctuation and stop words from string"""
    
    textcln = ''
    textcln = text.translate(str.maketrans('', '', string.punctuation))
    textcln = ' '.join([word for word in textcln.split() if word not in stop_words])
    
    return textcln

In [59]:
def get_ngrams(text, n, X, isClean = 'N'):
    """Generate N grams by taking text, x of N gram and return the desired top X desired items"""
    
    if isClean == 'Y':
        text = preprocess(text)
    
    # Create counter
    ngram_counts = Counter(ngrams(text.split(), n))   
    
    # Convert to df
    df = pd.DataFrame.from_dict(ngram_counts, orient='index').reset_index().rename(columns={'index':'N Gram', 0:'Occurences'})
    
    # Add log frequency
    df['Log Frequency'] = np.log(df['Occurences']/len(df))
    
    return df.sort_values('Occurences', ascending = 0).head(X)

In [60]:
# Find bi-grams
get_ngrams(alltxt, 2, 20)

            N Gram  Occurences  Log Frequency
54       (of, the)       10709      -3.932636
90       (in, the)        6210      -4.477560
207      (to, the)        3620      -5.017247
1103    (and, the)        2467      -5.400718
1079     (on, the)        2404      -5.426587
682     (for, the)        2005      -5.608077
2338        (*, *)        1856      -5.685297
876    (from, the)        1826      -5.701593
62       (by, the)        1711      -5.766643
1486   (with, the)        1521      -5.884353
946      (at, the)        1510      -5.891611
492        (as, a)        1489      -5.905616
992    (that, the)        1355      -5.999919
799       (to, be)        1299      -6.042126
297        (of, a)        1268      -6.066280
1067     (as, the)        1126      -6.185049
697        (in, a)        1044      -6.260661
264      (with, a)         825      -6.496093
49    (the, first)         819      -6.503392
474       (and, a)         710      -6.646211

In [19]:
# Find tri-grams
get_ngrams(alltxt, 3, 20)

                      N Gram  Occurences  Log Frequency
2720               (*, *, *)        1619      -6.281258
226           (one, of, the)         408      -7.659555
6814          (as, well, as)         308      -7.940723
2514         (part, of, the)         280      -8.036033
5270          (the, end, of)         272      -8.065020
5271          (end, of, the)         189      -8.429075
24597  (the, United, States)         180      -8.477865
1185         (such, as, the)         152      -8.646942
6899       (in, the, United)         141      -8.722062
11477       (known, as, the)         141      -8.722062
4667         (a, number, of)         132      -8.788020
2513          (as, part, of)         127      -8.826635
3342             (to, be, a)         119      -8.891699
15564        (a, series, of)         116      -8.917232
2967         (most, of, the)         112      -8.952323
2186        (to, have, been)         111      -8.961292
12577     (members, of, the)         105      -9.016862
215          (some, of, the)         102      -9.045849
2394          (was, one, of)         100      -9.065652
1957          (due, to, the)         100      -9.065652

In [62]:
# Find bi-grams for cleaned text
get_ngrams(alltxt, 2, 20, 'Y')

                     N Gram  Occurences  Log Frequency
2857            (New, York)         491      -6.935357
12794      (United, States)         430      -7.068015
97843         (Pine, Creek)         226      -7.711266
38360         (State, Park)         197      -7.848597
5036           (The, first)         176      -7.961317
1665           (World, War)         172      -7.984306
98               (He, also)         130      -8.264266
16360        (In, addition)         127      -8.287614
124132       (Puerto, Rico)         123      -8.319616
117019               (0, 0)         116      -8.378211
14615           (The, film)         113      -8.404413
340747       (World, Trade)         109      -8.440453
123498  (tropical, cyclone)         103      -8.497072
340748      (Trade, Center)         101      -8.516680
129184        (Falun, Gong)          95      -8.577924
34522       (Solar, System)          94      -8.588506
1730      (United, Kingdom)          93      -8.599201
232844      (Rock, Springs)          93      -8.599201
2514          (took, place)          90      -8.631991
2706       (North, America)          89      -8.643164

In [63]:
# Find tri-grams for cleaned text
get_ngrams(alltxt, 3, 20, 'Y')

                            N Gram  Occurences  Log Frequency
400862      (World, Trade, Center)          99      -8.717328
111494        (Pine, Creek, Gorge)          85      -8.869797
3009             (New, York, City)          77      -8.968643
2939              (World, War, II)          75      -8.994960
5376           (New, South, Wales)          67      -9.107755
26395           (New, York, Times)          62      -9.185314
30502             (The, New, York)          59      -9.234911
133288                   (0, 0, 0)          52      -9.361204
150673       (Upper, Pine, Bottom)          51      -9.380622
24490              (World, War, I)          51      -9.380622
114374  (Leonard, Harrison, State)          48      -9.441247
521880   (Murder, Orient, Express)          47      -9.462300
114351      (Colton, Point, State)          43      -9.551248
114375     (Harrison, State, Park)          38      -9.674862
114352        (Point, State, Park)          36      -9.728929
111062    (Cherry, Springs, State)          33      -9.815940
111063      (Springs, State, Park)          32      -9.846712
545176        (Taare, Zameen, Par)          30      -9.911251
51823          (King, Island, emu)          30      -9.911251
5604            (B, subg, Banksia)          29      -9.945152

In [64]:
# Find quad-grams for cleaned text
get_ngrams(alltxt, 4, 20, 'Y')

                                          N Gram  Occurences  Log Frequency
51687                    (The, New, York, Times)          51      -9.406267
117419          (Leonard, Harrison, State, Park)          37      -9.727174
117391              (Colton, Point, State, Park)          36      -9.754573
113984            (Cherry, Springs, State, Park)          32      -9.872356
136678                              (0, 0, 0, 0)          28     -10.005888
71340                  (Lage, Raho, Munna, Bhai)          24     -10.160038
154489              (Upper, Pine, Bottom, State)          24     -10.160038
154490               (Pine, Bottom, State, Park)          23     -10.202598
114325        (West, Branch, Susquehanna, River)          21     -10.293570
154509                (Upper, Pine, Bottom, Run)          21     -10.293570
114118    (National, Register, Historic, Places)          20     -10.342360
187055                     (A, Child, Our, Time)          18     -10.447721
117398             (State, Park, Potter, County)          18     -10.447721
20582                     (The, Story, Yue, Fei)          17     -10.504879
281575                      (Île, de, la, Passe)          16     -10.565504
535210                 (Then, There, Were, None)          15     -10.630042
5889      (changes, taken, interim, arrangement)          15     -10.630042
292049                   (The, World, Ends, You)          15     -10.630042
5888    (nomenclatural, changes, taken, interim)          15     -10.630042
535209                  (And, Then, There, Were)          15     -10.630042

**End of code**